<span class="footer-text">
Copyright <i class="fa fa-copyright"></i> 2017 Ogeret Maxandre –
Registered under <a href="https://raw.githubusercontent.com/MaxandreOgeret/4iL-2018/master/LICENSE">MIT License</a>
</span>
 – <i class="fa fa-github fa-2x" style="vertical-align: middle;"></i> Visit our <a href="https://github.com/MaxandreOgeret/4iL-2018">Github</a>
