<div class="row">
    <div class="col-md-12">
        <div class="card card-outline-success mb-3">
            <div style="background-color: #51575d;" class="card-header" >
                <h5 style="color: whitesmoke">Ils nous soutiennent</h5>
            </div>
            <div class="card-block">
                <p class="card-text">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <a href="http://www.3il-ingenieurs.fr/"><img src="{{ asset('img/sponsors/3il.png') }}"></a>
                        </div>
                    </div>
                    <div style="padding-top: 50px" class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <a href="http://www.fiducial.fr/"><img src="{{ asset('img/sponsors/fiducial.png') }}"></a>
                            <a href="http://www.mustinformatique.com/"><img src="{{ asset('img/sponsors/must.png') }}"></a>
                            <a href="http://www.midas.fr/"><img src="{{ asset('img/sponsors/midas.png') }}"></a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>