body {padding-top: 60px;}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #808d93; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card-block {
    padding: 10px;
}

.card {
    margin-bottom: 15px;
}

#connexion {
    margin-top: 50px;
}

.article-icon {
    font-size: 125% !important;
}

.minor {
    height: 50%;
    width: auto;
}