body {padding-top: 60px;}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #808d93; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card-block {
    padding: 10px;
}

.card {
    margin-bottom: 15px;
}

#connexion {
    margin-top: 50px;
}

.article-icon {
    font-size: 125% !important;
}

.minor {
    height: 50%;
    width: auto;
}

img.center {
    display: block;
    margin: 0 auto;
}

#imagePreview {
     width: auto;
     height: 300px;
 }

.cr-slider-wrap {
    background-color: #7F7F7F;
    margin-top: 0px
}

html {
    height: 100%;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: #343A40;
    text-align: center;
    color: lightgray;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 70px;
    min-height: 100%;
}